.text_b {
  color: #D9040A; //dark-red   //  #FA1CAC; //pink
}

.default_color {
  background-color: #EAEAEA !important;
}

.coalition-yellow {
  background-color: #F5C802;
  color: #000;
}

.coalition-yellow a.active {
  color: #D9040A;
}

.coalition-yellow a {
  color: #000;
}

#index-banner {
  background-color: #EAEAEA;
}

nav ul a {
  font-weight: 500;
  font-size: 0.8rem;
  letter-spacing: 1.8px;
}
.nav-logo {
  height: 60px;
}

.cd-headline {
  color: #FF0103;
}



.text_h {
  padding: 0;
}

.text_h2 {
  color: #fff;
}

#index-banner {
  min-height: 400px;
}

.hero-text {
    font-size: 20px;
    color: #000;
    padding-bottom: 10px;
}

.card {
  padding-top: 10px;
}

.card .card-image {
  text-align: center;
  text-align: -webkit-center;
}

.card.sponsored img{
  opacity: .75;
}

.card.sponsored input[type="submit"] {
  background-color: #D9040A;
    color: #fff;
}
.card.sponsored input[type="submit"]:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
}


.card .card-image img {
  height: 300px;
  width:auto;
}

.card-content {
  min-height: 90px;
}


.card-avatar img {
  height: 300px;
  width: auto;
  border-radius: 0px;
}

.parallax-container {
  height: 0px;
}

.card-content input[type=submit] {
  background-color: #FA1CAC;
  color: #fff;
  font-weight: 400;
  padding: 15px;
  }

.card-content input[type=submit]:hover {
  -webkit-box-shadow: 0px 10px 18px #333;
  box-shadow: 0px 10px 18px #333;
   transition: .5s all ease;
  }
